<div style="display: flex;justify-content: space-between;margin : 0px 5% 0px 3%;height: 290px;">
    <div  style="margin-left: 4%;height: 80%;">
        <canvas id="myPieChart" width="160" height="120"></canvas>
        <p style="margin-top: 20px;text-align: center;" class="info">Percentage compared to last month</p>
      </div>
 
<div >
    <canvas id="myChart" width="400" height="230"></canvas>
    <p style="margin-top: 20px;text-align: center;" class="info">Expenses compared with 3 last months</p>
  </div>

  <div >
    <canvas id="myChart2" width="400" height="230"></canvas>
    <p style="margin-top: 20px;text-align: center;" class="info">Transactions for current month</p>
  </div>



</div>