<div class="panel">
    <h1>Analytics</h1>
    <app-chart>
        
    </app-chart>
</div>

<div class="panel">
    <h1>Expenses</h1>
    <hr>
        <div class="panel-items">
            <fa-icon [icon]="ExpensesIcons[0].icon"></fa-icon>
            <small style="margin-left: 5px;" >{{ExpensesIcons[0].text}}</small>
        </div>
        <div class="panel-items">
            <fa-icon [icon]="ExpensesIcons[1].icon"></fa-icon>
           
            <select [(ngModel)]="selectedCategory" name="selectedCategory" style="margin-left: 5px;" (change)="FilterByCategory()">
                <option value="">Choose Category</option>
                <option *ngFor="let category of Categories">{{ category.category_name }}</option>
              </select>
        </div>
        <br>
        <hr>
        <div class="table-header" >
            <div class="table-column" *ngFor="let detail of PanelDetails">
                <fa-icon [icon]="detail.icon"></fa-icon>
                <small style="margin-left: 5px;cursor: pointer;"(click)="OrderBy(detail.text)">{{detail.text}}</small> 
            </div>
        </div>
        <div class="table-row" *ngFor="let item of FilterByCategory()">
            <div class="table-column">{{ item.id }}</div>
            <div class="table-column">{{ item.date }}</div>
            <div class="table-column">{{ CategoryName(item.category_name) }}</div>
            <div class="table-column">{{ item.description }}</div>
            <div class="table-column">{{ item.amount }}</div>
          </div>
</div>

<div class="panel">
    <h2>Transactions</h2>
</div>



