.panel {
    border-radius: 10px;
    margin-bottom: 10px; /* Dodaj margines na dole każdego panelu */
    background-color: #a1a1a1;
    border: 2px solid black;
}

.panel h1{
    font-size: 30px;
    padding: 5px 0px  0px 10px;
}

.panel-items {
    display: inline-block; /* Wyświetl elementy obok siebie */
    margin: 0px 15% 0px 10%;
    padding: 10px; /* Dodaj wypełnienie wewnętrzne, aby uzyskać odstęp od zawartości */
    font-size: 20px;
}

.panel-details {
    display: inline-block; /* Wyświetl elementy obok siebie */
    margin: 5px 13% 0px 5%;
    padding: 10px; /* Dodaj wypełnienie wewnętrzne, aby uzyskać odstęp od zawartości */
    font-size: 20px;
}

.panel-details:hover{
    cursor: pointer;
}


.panel-items:hover{
    transform: scale(1.1); 
    transition: transform 0.2s ease;
    cursor: pointer;
  }

.expenses-item {
    padding: 10px; 
    font-size: 20px;
}

.expenses-item .item-style {
    display: inline-block;
    margin: 0px 10% 0px 4%;
}