

.expand { 
    font-family: "Times New Roman", Times, serif;
    margin : 20px 20px 0px 10px;
    font-size: 25px;
}


  .table-row {
    position: relative; /* Konieczne do pozycjonowania ikon */
  }
  
  /* Styl ikonek */
  .icons {
    position: absolute;
 /* Przesunięcie ikonek w lewo */
    top: 5px;
    display: none;
    left:5px
  }
  
  .icon {
    font-size: 25px;
    cursor: pointer;
    margin-right: 10px;
  }
  
  /* Pokazywanie ikonek po najechaniu */
  .table-row:hover .icons {
    display: block;
  }
